$bg_color : #1f1f1f;
$fg_color : #ffffff;
$base_color : #000000;
$text_color : #ffffff;
$selected_bg_color : #0078d7;
$selected_fg_color : #FFFFFF;
$selected_text_bg_color : #0078D7;
$selected_text_color : #FFFFFF;
//$disabled_bg_color : 
$disabled_fg_color : #8c8c8c;

$link_color : #224BA0;
$highlight_color : #298ccf;
$border_color : #484848; // is this ok?
$separator_color : $border_color; // TODO: adjust
$applet_separator_color : transparent;

// TODO: adjust?
$progress_color: #4de639;
$warning_color: #F27835;
$error_color: #FC4138;
$destructive_color: #F04A50;

$osd_bg_color : rgba(0, 0, 0, 0.85);
$osd_fg_color : #ffffff;

$panel_bg_color : rgba(0, 0, 0, 0.5);
$panel_fg_color : #ffffff;
$panel_highlight_color : white;

$tooltip_bg_color: #fbeaa0;
$tooltip_fg_color: #4a4a4a;
$tooltip_border_color: #d0d0d0;

// move elsewhere?
$panel_width : 50px;    // vertical panels
$panel_height : 40px;

$global_radius : 0px;
$button_radius : 0px;
$entry_radius : 0px;
$osd_radius : 0px;

$checkbox_size : 16px;
$scrollbar_size : 14px;
$toggle_width : 50px;
$toggle_height : 20px;

$tasklist_item_width : 15em;
$taskgroup_item_width : 30px;

$notification_radius : 0px;
//$notification_bg_color :
//$notification_fg_color : 
//$notification_border_color :  
