$global_radius : 0px;
$button_radius : 0px;
$entry_radius : 0px;
$osd_radius : 0px;
$menu_radius : 0px;
$tooltip_radius : 0px;
$notification_radius : 0px;
$scrollbar_slider_radius : 1px;
$scrollbar_trough_radius : 0px;

$panel_width : 50px;    // vertical panels
$panel_height : 40px;
$checkbox_size : 16px;
$scrollbar_size : 4px;
$toggle_width : 50px;
$toggle_height : 20px;
$slider_size : 0.1em;

$tasklist_item_width : 15em;
$taskgroup_item_width : 30px;
