$panel_bg_color : ;
$panel_fg_color : ;

$bg_color : ;
$base_color : ;
$selected_bg_color: ;
$selected_text_color: ;

$fg_color : ;
$text_color : ;
$selected_bg_color : ;
$selected_text_bg_color : ;

$link_color : ;

// move elsewhere?
$panel_height : 40px;
$shell_radius : 4px;
