// shell button

@mixin button($type) {
  @if $type == "base" {
    border: 2px solid $border_color;
    color: $fg_color;
    background-color: $bg_color;
    padding: 5px 8px;
  }
  @if $type == "focus" {
    box-shadow: 0 0 0 2px transparentize($border_color, 0.5);
  }
  @if $type == "focus-hover" {
    border-color: $fg_color;
    box-shadow: 0 0 0 2px transparentize($border_color, 0.5);
  }
  @if $type == "hover" {
    border-color: $fg_color;
  }
  @if $type == "active" {
    background-color: shade($bg_color, 0.2);
  }
  @if $type == "disabled" {
    color: $disabled_fg_color;
  }
}
