// shell panel
// in cinnamon, it's a taskbar
// in gnome, it's the top bar

@mixin panel($position : "none") {
  @if $position == "none" {
    border: none;
    color: $panel_fg_color;
    background-color: $panel_bg_color;
    font-size: 1em;
    padding: 0px;
  }
  
  @if $position == "left" {
//    box-shadow: 1px 0 $border_color;
  }
  
  @if $position == "right" {
//    box-shadow: -1px 0 $border_color;
  }
  
  @if $position == "top" {
//    box-shadow: 0 1px $border_color;
  }
  
  @if $position == "bottom" {
//    box-shadow: 0 -1px $border_color;
  }
}

@mixin panel_button($type) {
  @if $type == "base" {
    color: $panel_fg_color;
    background-color: transparent;
  }
  
  @if $type == "focus" {
    background-color: transparentize($panel_highlight_color, 0.85);
  }
  
  @if $type == "hover" {
    //color: $selected_fg_color;
    //background-color: $selected_bg_color;
    background-color: transparentize($panel_highlight_color, 0.85);    
  }
  
  @if $type == "active" {
    background-color: transparentize($panel_highlight_color, 0.7);
  }
  
  @if $type == "highlight" {
    border-image: none;
    background-color: transparentize($error_color, 0.5);
    background-image: none;
  }
}
