// shell scrollbars

$scrollbar_trough_radius : 0px;

@mixin scrollbar_trough() {
  border-radius: $scrollbar_trough_radius;
  background-color: transparentize($fg_color, 0.9);
}

// TODO: horizontal/vertical?
$scrollbar_slider_radius : 0px;

@mixin scrollbar_slider($type) {
  @if $type == "base" {
    margin: 0px;
    border-radius: $scrollbar_slider_radius;
    border: 0px solid;
    background-color: mix($fg_color, $bg_color, 40%);
  }
  
  @if $type == "hover" {
    @if $variant == "light" {
      background-color: mix($fg_color, $bg_color, 30%);
    }
    @else if $variant == "dark" {
      background-color: mix($fg_color, $bg_color, 50%);
    }
  }
  
  @if $type == "active" {
    @if $variant == "light" {
      background-color: mix($fg_color, $bg_color, 60%);
    }
    @else if $variant == "dark" {
      background-color: mix($fg_color, $bg_color, 30%);
    }
  }
}
